.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 1.4rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.btn--outlined {
  background: transparent;
  color: $primary-main;
  border: 2px solid $primary-main;
}

.btn--contained {
  background: $primary-main;
  color: white;
  border: 2px solid $primary-main;
}

.btn--buynow {
  background: rgb(245 249 254);
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  font-size: 10px;
  font-weight: 600;
  color: rgb(42 115 221);
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  transition: .5s;
}